@tailwind base;
@tailwind components;
@tailwind utilities;



#nav-text{
    text-shadow: 4px 4px 0px black, 8px 8px 0px black;
    font-weight: "bold";
    font-size: 3rem;
    color: white;
}  

.title-text{
    text-shadow: 4px 4px 0px black,4px 4px 0px black, 8px 8px 0px black;
    font-weight: "bold";
    font-size: 2rem;
}

.show-title-text{
    text-shadow: 4px 4px 0px #180161;
}